<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-br">
	
	<head>
		<title>Robô de telepresença</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type=text/javascript>
			// --- UP ---
			$(function(){
				$('a#up').mousedown('click', function(){
					$.getJSON('/up', function(data){});
					return false;
				});			
				$('a#up').mouseup('click', function(){
					$.getJSON('/stop', function(data){});
					return false;
				});
			});
			// --- DOWN ---
			$(function(){
				$('a#down').mousedown('click', function(){
					$.getJSON('/down', function(data){});
					return false;
				});
				$('a#down').mouseup('click', function(){
					$.getJSON('/stop', function(data){});
					return false;
				});
			});
			// --- LEFT ---
			$(function(){
				$('a#left').mousedown('click', function(){
					$.getJSON('/left', function(data){});
					return false;
				});
				$('a#left').mouseup('click', function(){
					$.getJSON('/stop', function(data){});
					return false;
				});
			});
			// --- RIGHT ---
			$(function(){
				$('a#right').mousedown('click', function(){
					$.getJSON('/right', function(data){});
					return false;
				});
				$('a#right').mouseup('click', function(){
					$.getJSON('/stop', function(data){});
					return false;
				});
			});
			// --- STOP ---
			$(function(){
				$('a#stop').mousedown('click', function(){
					$.getJSON('/stop', function(data){});
					return false;
				});
			});
			// --- TECLADO ---
			$(document).ready(function(){
				$('body').keydown(function(e){
					switch(e.which){
						case 38:    $.getJSON('/up', function(data){	});
									break;
						case 40:    $.getJSON('/down', function(data){	});
									break;
						case 32:    $.getJSON('/stop', function(data){	});
									break;
						case 39:    $.getJSON('/right', function(data){	});
									break;
						case 37:    $.getJSON('/left', function(data){	});
									break;
					
					}
					return false;
				});
			});
		</script>
	</head>
    
    <body> 
		<div class="jumbotron text-center" style="height: 150px">
			<h2>Robô de telepresença</h2>
			<p>Câmera principal</p>
		</div>
		
		<div class="container">			
			<img id="bg" src="{{ url_for('video_feed') }}" class="img-rounded center-block" alt="Câmera prinicpal">
			
			<br/>
			<div style="text-align:center">
				<form>
					<div class="btn-group">
						<a href=# id=up><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-arrow-up"></span></button></a>
					</div>										
					<br/>
					<br/>
					<div class="btn-group">
						<a href=# id=left><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left"></span></button></a>
						<a href=# id=stop><button type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove"></span></button></a>
						<a href=# id=right><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-right"></span></button></a>
					</div>
					<br/>
					<br/>
					<div class="btn-group">
						<a href=# id=down><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-arrow-down"></span></button></a>
					</div>
				</form>
			</div>
		</div>		
		
	</body>
</html>
